<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('images/backgroundImg.jpg'); /* Pfad zum Hintergrundbild */
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        header {
            padding: 20px;
            color: white;
        }

        h1 {
            margin: 0;
        }

        main {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        div {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }

        p, a {
            margin: 10px 0;
        }
    </style>
    <title>Employee Management System</title>
</head>
<body>
<header>
    <h1>Welcome to the <span style="color: white;">Employee Management System</span></h1>
    <p>2. POS Test: SpringBoot / Thymeleaf</p>
    <p>HTML HELP:</p>
    <a href="help/help_forms.html"> Forms </a>
    <br>
    <a href="help/help_select_buttons.html"> Select Buttons </a>
    <br>
    <a href="help/help_tables.html"> Tables </a>
    <br>
</header>

<main>
    <div>
        <p>This is for authorized users only!</p>
        <a href="/employee-list" class="btn btn-primary" title="I am John Conor">I am not a Robot!</a>
    </div>
</main>
</body>
</html>