<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELP ME</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
</head>
<body>
<center>
    <a href="help_forms.html"> <b> forms << </b> </a> | <a href="help_tables.html"> <b> >> tables</b> </a>
</center>
<h1> Select & Buttons </h1>

<label for="salary">Salary:</label>
<!--<select id="salary" name="salary" th:field="*{name}" class="form-select">-->
<select id="salary" name="salary" class="form-select">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
<hr>
<select class="form-control mb-2 col-2" aria-label="Large select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>

<select class="form-control mb-4 col-4" aria-label="Small select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>

<hr>
    <table>
        <tr>
            <td>
                <a th:href="@{/}" class="btn btn-primary">Click</a>
            </td>
            <td>
                <a th:href="@{/}" class="btn btn-danger">Me</a>
            </td>
        </tr>
    </table>

    <a th:href="@{/}"> Back to Employee List</a>

    <br><br>

    <button type="submit" class="btn btn-info col-2">Click Me</button>

</body>
</html>