<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
</head>
<body>

<div class="container my-2">

    <h3>Employee List</h3>

    <a class="btn btn-primary my-2" th:href="@{/employees/newEmployee}">Add Employee</a>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.getName()}"></td>
            <td th:text="${employee.getEmail()}"></td>
            <td th:text="${employee.getSalary().getEmployment()}"></td>
            <td th:text="${employee.getSalary().getAnnualSalary()}"></td>
            <td>
                <a th:href="@{/employees/updateEmployee/{id} (id=${employee.getId()})}" class="btn btn-primary">Update</a>
            </td>
            <td>
                <a th:href="@{/}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary my-2" th:href="@{/salaries/list}">Show salary list</a>

</div>
</body>
</html>
