<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <title>Salary List</title>
</head>

<body>

<div class="container my-2" align="center">
    <h3>Salary List</h3>

    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Annual Salary</th>
            <th scope="col">Count</th>
            <th scope="col">Employees</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sal: ${salaries}">
            <td th:text="${sal.getEmployment()}"></td>
            <td th:text="${sal.getAnnualSalary()}"></td>
            <td th:text="${sal.getEmployees().size()}"></td>
            <td>
                <ul>
                    <li th:each="employee: ${sal.getEmployees()}" th:text="${employee.getName()}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary my-2" th:href="@{/employees/list}">Show employee list</a>
</div>
</body>

</html>